ExampleWSDL.xml

<!-- Web Services API : ExampleSOAPService -->
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.sforce.com/schemas/class/ExampleSOAPService" targetNamespace="http://soap.sforce.com/schemas/class/ExampleSOAPService">
	<types>
		<schema elementFormDefault="qualified" targetNamespace="http://soap.sforce.com/schemas/class/ExampleSOAPService">
			<element name="AllowFieldTruncationHeader">
				<complexType>
					<sequence>
						<element name="allowFieldTruncation" type="xsd:boolean" />
					</sequence>
				</complexType>
			</element>
			<element name="CallOptions">
				<complexType>
					<sequence>
						<element name="client" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="DebuggingHeader">
				<complexType>
					<sequence>
						<element name="categories" minOccurs="0" maxOccurs="unbounded" type="tns:LogInfo" />
						<element name="debugLevel" type="tns:LogType" />
					</sequence>
				</complexType>
			</element>
			<complexType name="LogInfo">
				<sequence>
					<element name="category" type="tns:LogCategory" />
					<element name="level" type="tns:LogCategoryLevel" />
				</sequence>
			</complexType>
			<simpleType name="LogCategory">
				<restriction base="xsd:string">
					<enumeration value="Db" />
					<enumeration value="Workflow" />
					<enumeration value="Validation" />
					<enumeration value="Callout" />
					<enumeration value="Apex_code" />
					<enumeration value="Apex_profiling" />
					<enumeration value="Visualforce" />
					<enumeration value="System" />
					<enumeration value="Wave" />
					<enumeration value="Nba" />
					<enumeration value="All" />
				</restriction>
			</simpleType>
			<simpleType name="LogCategoryLevel">
				<restriction base="xsd:string">
					<enumeration value="None" />
					<enumeration value="Finest" />
					<enumeration value="Finer" />
					<enumeration value="Fine" />
					<enumeration value="Debug" />
					<enumeration value="Info" />
					<enumeration value="Warn" />
					<enumeration value="Error" />
				</restriction>
			</simpleType>
			<simpleType name="LogType">
				<restriction base="xsd:string">
					<enumeration value="None" />
					<enumeration value="Debugonly" />
					<enumeration value="Db" />
					<enumeration value="Profiling" />
					<enumeration value="Callout" />
					<enumeration value="Detail" />
				</restriction>
			</simpleType>
			<element name="DebuggingInfo">
				<complexType>
					<sequence>
						<element name="debugLog" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="SessionHeader">
				<complexType>
					<sequence>
						<element name="sessionId" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<simpleType name="ID">
				<restriction base="xsd:string">
					<length value="18" />
					<pattern value="[a-zA-Z0-9]{18}" />
				</restriction>
			</simpleType>
			<complexType name="address">
				<complexContent>
					<extension base="tns:location">
						<sequence>
							<element name="city" type="xsd:string" />
							<element name="country" type="xsd:string" />
							<element name="countryCode" type="xsd:string" />
							<element name="geocodeAccuracy" type="xsd:string" />
							<element name="postalCode" type="xsd:string" />
							<element name="state" type="xsd:string" />
							<element name="stateCode" type="xsd:string" />
							<element name="street" type="xsd:string" />
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="location">
				<sequence>
					<element name="latitude" type="xsd:double" />
					<element name="longitude" type="xsd:double" />
				</sequence>
			</complexType>
			<element name="createAccount">
				<complexType>
					<sequence>
						<element name="aName" type="xsd:string" nillable="true" />
					</sequence>
				</complexType>
			</element>
			<element name="createAccountResponse">
				<complexType>
					<sequence>
						<element name="result" type="xsd:string" nillable="true" />
					</sequence>
				</complexType>
			</element>
		</schema>
	</types>
	<!-- Message for the header parts -->
	<message name="Header">
		<part name="AllowFieldTruncationHeader" element="tns:AllowFieldTruncationHeader" />
		<part name="CallOptions" element="tns:CallOptions" />
		<part name="DebuggingHeader" element="tns:DebuggingHeader" />
		<part name="DebuggingInfo" element="tns:DebuggingInfo" />
		<part name="SessionHeader" element="tns:SessionHeader" />
	</message>
	<!-- Operation Messages -->
	<message name="createAccountRequest">
		<part element="tns:createAccount" name="parameters" />
	</message>
	<message name="createAccountResponse">
		<part element="tns:createAccountResponse" name="parameters" />
	</message>
	<portType name="ExampleSOAPServicePortType">
		<operation name="createAccount">
			<input message="tns:createAccountRequest" />
			<output message="tns:createAccountResponse" />
		</operation>
	</portType>
	<binding name="ExampleSOAPServiceBinding" type="tns:ExampleSOAPServicePortType">
		<binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="createAccount">
			<operation soapAction="" />
			<input>
				<header use="literal" part="SessionHeader" message="tns:Header" />
				<header use="literal" part="CallOptions" message="tns:Header" />
				<header use="literal" part="DebuggingHeader" message="tns:Header" />
				<header use="literal" part="AllowFieldTruncationHeader" message="tns:Header" />
				<body use="literal" parts="parameters" />
			</input>
			<output>
				<header use="literal" part="DebuggingInfo" message="tns:Header" />
				<body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="ExampleSOAPServiceService">
		<documentation />
		<port binding="tns:ExampleSOAPServiceBinding" name="ExampleSOAPService">
			<address location="https://na156.salesforce.com/services/Soap/class/ExampleSOAPService" />
		</port>
	</service>
</definitions>
